@media screen and (max-width: 766px) {
  div#little_squares{
    visibility:hidden;
    position: fixed;
  }
  #chat{
    visibility:hidden;
  }
  .prod_global{
    width: 200px;
    height: 200px;
  }
    .prod_global img{
      margin-top:20px;
        width:200px;
        height:200px;
      }
    .productSheet{
      width:auto;
    }
    div.productSheet{
      margin:10px;
    }
    div.ligne{
      width:auto;
    }
    main{
      padding-bottom: 50px;
    }
    .achat div{
      font-size:1.1em;
      margin: 20px 10px;
    }
    div.achat form button{
      font-size: 1.1em;
      margin-right:0px;
    }
    div#referral{
      visibility:hidden;
    }
    div.grd_rect{
      width:auto;
    }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  main{
    width: 768px;
  }
  .prod_global{
    margin-left: 0px;
    margin-right: 10px;
  }
  div.carre{
    margin: 0px;
  }
}



@media screen and (min-width: 1023px) and (max-width: 1366px) {

body{
  background-repeat: no-repeat;
}
main{
  width: 950px;
  height: 600px;
}

div.prod_global img{
  height:180px;
  width:182px;
}

.productSheet{
  width:400px;
  padding:15px;
}

.productSheet h1{
  font-size: 1.8em;
  width: 450px;
}
div.productSheet p{
  padding-left: 50px;
}
.grd_rect{
  width:400px;
  height: 570px;
}
.ligne{
  width: 370px;
  margin-left: 50px;
}
.info_option_product {
    margin: 10px auto 0px 60px;
  }

.taille {
  margin: 10px auto 0px 60px;
  }
.quantite{
  margin: 10px auto 0px 60px;
}
#referral{
  margin: 20px 30px 0px 0px;
}
}
