.newsletter form{
  display:none;

}

.newsletter:hover .appear{
  display: block;
}

.newsletter h1{
  font-size: 1em;
}

.newsletterFlex{
  display:flex;
  justify-content: space-around;
  background-color:#fcfcfc;
  margin: 0 auto;
}

.newsletter{
  margin: 0px auto 50px auto;
  width: 500px;
  border-radius: 5px;
  padding-bottom: 10px;
  text-align: center;
}
.newsletterFlex button{
  font-size: 1.1em;
  height: 70px;
  padding:3px;
  border:1px solid #F5C5C5;
  border-radius:5px;
  width:200px;
  box-shadow:1px 1px 2px #C0C0C0 inset;
}

input[type="text"] {
    margin: 5px 0px;
    padding: 3px;
    border: 1px solid #F5C5C5;
    border-radius: 5px;
    width: 200px;
    box-shadow: 1px 1px 2px #C0C0C0 inset;
}

.clearBoth{
  clear: both;
}

footer{
  width: 960px;
  margin: 0px auto 0px auto;
  text-align: center;
}


footer img{
  width: 64px;
  margin: 10px 10px 0px 10px;
}
.social_link ul{
  padding-left: 0px;
}

.social_link li{
  display: inline-block;
  list-style-type: none;
}
.inner_link ul{
  padding:0px;
}
.inner_link ul li a{
  padding: 0px;
  text-decoration: none;
  color: black;

}
.inner_link ul li:first-child{
  padding: 0px 0px 0px 10px;
}
.inner_link li{
  display:inline-block;
  margin: 0px 15px;
  list-style-type: none;
}
.inner_link{
  margin: auto 0;
}

#chat{
  position:fixed;
  bottom: 50px;
  right: 50px;
}
