/*responsive ipad*/
@media screen and (min-width: 767px) and (max-width: 1023px){
  main {
    width: 768px;
    height: 1200px;
    -webkit-box-shadow: 0px 0px 18px 5px rgba(81,81,81,0.1);
    -moz-box-shadow: 0px 0px 18px 5px rgba(81,81,81,0.1);
    box-shadow: 0px 0px 18px 5px rgba(81,81,81,0.1);
    margin: 50px auto 0px auto;
    background-color: rgba(252, 252, 252, 0.6);
    font-size: 1.2em;
  }
  .aproposTxt{
    padding-top: 50px;
    width: 768px;
  }

  #aproposTxt{
    padding: 50px 0px 20px 50px;
    font-size:1.5em;
  }
  #grande_div{
    width:40%;
    margin: 0px;
  }

  #grande_div .moitié1 {
    margin-right: 20px;
    width: 300px;
    display: flex;
    align-content: space-between;
  }

  #grande_div .moitié2 {
    width: 300px;
    display: flex;
    align-content: space-around;
  }
  .little_div{
    width: 55%;
    margin-left: 30px;
  }

  .CEO{
    margin-left:30px;
    margin-top: 50px;
    width: 100%;
    height:130px;
    display: flex;
  }

  .CEO>p{
    display:flex;
    align-items:center;
    margin-left:20px;
  }
  .img_ceo{
    width: 105px;
    height: 130px;
  }


}
/*responsive ipadPro */
@media screen and (min-width: 767px) and (max-width: 1023px){


}
