body {
  margin: 0px;
  /*background-color: #fcfcf9; */
  background-image: url('../images/test.jpg');
  font-family: 'Della Respira', serif;
}

header {
  width: 100%;
  text-align: center;
}

header img {
  margin: 0 auto;
  width: 30%;
}

nav {
  width: 960px;
  margin: 0 auto;
  font-size: 0.83em;
}

nav>ul {
  margin: 0px;
  position: relative;
  padding: 0px;
}



nav>ul>li::after {
  content: "";
  clear: both;
  position: absolute;
  background-color: black;
  height: 100%;
  top: 0;
  width: 2px;
  display: block;
}
nav>ul>li:first-child::after {
  content: "";
  width: 0 !important;
  background-color: white !important;
}

nav li {
  list-style-type: none;
}

nav ul li{
  position: relative;
}



nav ul li a {
  text-decoration: none;
  color: black;
}

nav>ul>li {
  float: left;
  position: relative;
}

nav>ul>li>a {
  padding: 10px 20px;
  color: black;
}

nav li {
  list-style-type: none;
}

.submenu {
  display: none;
}

nav a {
  display: inline-block;
  text-decoration: none;
}
nav li:hover .submenu {
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 0px;
  z-index: 1000;
}

nav>ul>li:nth-last-child(-n+2)::after {
  content: "";
  width: 0 !important;
  background-color: white !important;
}

.submenu li {
  border-bottom: 1px solid #BBB;
}

.submenu li a {
  background-color :#FCF9EF;
  padding: 15px 15px;
  font-size: 13px;
  color: black;
  width: 150px;
}

.menu:hover {
  background-color: rgba(241, 211, 79, 0.15);  transition: ease-in 0.1s;
}


.submenu li:hover a {
  color: #DE8496;

}

.menu .submenu li:hover {
  background-color: rgba(210, 77, 50)
}

.accountBag{
  float:right;
}



main{
  margin:50px auto 0px auto;
  width: 100%;
  height:1000px;
}


.flashSale{
  position: relative;
  text-align: center;
  float:left;
  width: 40%;
  height: 25%;
  background-color:#fcfcfc;
  -webkit-box-shadow: 10px 10px 26px 0px rgba(255,219,218,1);
  -moz-box-shadow: 10px 10px 26px 0px rgba(255,219,218,1);
  box-shadow: 10px 10px 26px 0px rgba(255,219,218,1);
}

.flashSale img{
  -webkit-box-shadow: 0px 0px 0px 11px rgba(252,248,248,1);
  -moz-box-shadow: 0px 0px 0px 11px rgba(252,248,248,1);
  box-shadow: 0px 0px 0px 11px rgba(252,248,248,1);
  width:20%;
  float: right;
  margin-right: 20px;
  margin-bottom: 20px;
}

.flashSale div{
  left: 40px;
  position: absolute;
  bottom:30px;
  width: 60%;
}
.aboutUs{
  float:right;
  display:flex;
  justify-content: space-around;
  -webkit-box-shadow: -22px 10px 26px 0px rgba(255,219,218,1);
  -moz-box-shadow: -22px 10px 26px 0px rgba(255,219,218,1);
  box-shadow: -22px 10px 26px 0px rgba(255,219,218,1);
  width: 55%;
  height: 25%;
  background-color:#fcfcfc;
}

.aboutUs h1{
  margin-left: 50px;
}
.aboutUs p{
  width: 400px;

}

.aboutUs img{
  width: 160px;
  height: 200px;
  margin-top: 25px;
}

.mainProducts{
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 23px -2px rgba(255,250,234,0.6);
  -moz-box-shadow: 4px 4px 23px -2px rgba(255,250,234,0.6);
  box-shadow: 4px 4px 23px -2px rgba(255,250,234,0.6);
  width: 80%;
  margin : 50px auto 0px auto;
  height: auto;
  background-color: rgba(252,252,252,0.7);
}

.mainProducts h1{
  padding-left: 40px;
  padding-top: 15px;
}

.mainProducts img{
  margin-left: 50px;
  -webkit-box-shadow: 0px 0px 0px 11px rgba(252,248,248,1);
-moz-box-shadow: 0px 0px 0px 11px rgba(252,248,248,1);
box-shadow: 0px 0px 0px 11px rgba(252,248,248,1);
}

.mainProducts p{
  padding-left: 50px;
  width: 80%;
}

/*#e587e5 pour les test ne pas utilisé  */



.newsletter form{
  display: flex;
  justify-content: space-around;
  background-color:#fcfcfc;
  margin: 0 auto;
}




/* product css*/

.productPanel{
  display:flex;


}

.newsletter{
  width: 600px;
  border-radius: 5px;
  background-color:#FCFCFC;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

input[type=text]{
  margin: 5px 0px;
  padding:3px;
  border:1px solid #F5C5C5;
  border-radius:5px;
  width:200px;
  box-shadow:1px 1px 2px #C0C0C0 inset;
}

button{
padding:3px;
border:1px solid #F5C5C5;
border-radius:5px;
width:200px;
height:70px;
box-shadow:1px 1px 2px #C0C0C0 inset;
}
/*footer

si vous trouvez pourquoi c'est caput dite le moi
*/
.clearBoth{
  clear: both;
}

footer{
  width: 960px;
  margin: 200px auto 0px auto;
  text-align: center;
}


footer img{
  width: 64px;
  margin: 10px 10px 0px 10px;
}
.social_link ul{
  padding-left: 0px;
}

.social_link li{
  display: inline-block;
  list-style-type: none;
}
.inner_link ul{
  padding:0px;
}
.inner_link ul li a{
  padding: 0px;
  text-decoration: none;
  color: black;

}
.inner_link ul li:first-child{
  padding: 0px 0px 0px 10px;
}
.inner_link li{
  display:inline-block;
  margin: 0px 15px;
  list-style-type: none;
}
.inner_link{
  text-align: center;
}

#chat{
  position:fixed;
  bottom: 50px;
  right: 50px;
}
